{% extends 'base.html.twig' %}

{% block body %}
    <h1>Raspberry Pi sensor data</h1>

    <p>Temperature: {{ lastEntry.temperature }} °C</p>
    <p>Humidity: {{ lastEntry.humidity }} %</p>
    <p>Carbon dioxide: {{ lastEntry.carbonDioxide }} ppm</p>
    <p>Air pressure: {{ lastEntry.pressure }} hPa</p>
    <p>Measured at: {{ lastEntry.measuredAt.format('Y-m-d H:i:s') }}</p>

    {{ render_chart(chart) }}
{% endblock %}
